# perso
biblio
paperasse
tmp

# python
**/.venv
**/.vscode
**/.ipynb_checkpoints
**/__pycache__
**/lightning_logs

# latex
**/*.aux
**/*.bbl
**/*.blg
**/*.log 
**/*.out
**/*.pytxcode
**/*.toc
**/*.synctex.gz
**/*.lol
**/*.lof
**/*.lopytx
**/*.thm

# data osef
**/data_sets
fig/logo

#.archive
**/.log

#trop lourd
**/*.mp4